<p id="notice"><%= notice %></p>

<h1>Listing Kanjis</h1>

<% @letters.each do |letter| %>
  <div>
    <%= link_to "#{letter.letter}", letter_path(letter.id) %>
    <% if letter.kanjis.order('created_at DESC').exists? %>
      <%= link_to image_tag(letter.kanjis.order('created_at DESC').first.image.url), letter_path(letter.id) %>
    <% else %>
      <%= link_to image_tag('question.png', { :size => '60x60' }), letter_path(letter.id) %>
    <% end %>
  </div>
<% end %>


<br>

<%= paginate(@letters) %>

<%= link_to 'New Kanji', new_kanji_path %>
