  <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">Kanji Study</a></h1>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <a class="post" href="/kanjis/new">投稿する</a>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>
  </header>

<h1>Listing Kanjis</h1>

<% @letters.each do |letter| %>
  <div>
    <%= link_to "#{letter.letter}", letter_path(letter.id) %>
    <% if letter.kanjis.order('created_at DESC').exists? %>
      <%= link_to image_tag(letter.kanjis.order('created_at DESC').first.image.url), letter_path(letter.id) %>
    <% else %>
      <%= link_to image_tag('question.png', { :size => '60x60' }), letter_path(letter.id) %>
    <% end %>
  </div>
<% end %>


<br>

<%= paginate(@letters) %>

<%= link_to 'New Kanji', new_kanji_path %>
