<p id="notice"><%= notice %></p>

<p>
  <strong>Photo's Information</strong>
</p>
<div>
<table>
  <tr>
    <th>image</th>
    <td><%= image_tag @kanji.image.url , :size => '150x150' %></td>
  </tr>
  <tr>
    <th>word</th>
    <td><%= @kanji.word %></td>
  </tr>
  <tr>
    <th>pronunciation</th>
    <td><%= @kanji.pronunciation %></td>
  </tr>
  <tr>
    <th>meaning</th>
    <td><%= @kanji.meaning %></td>
  </tr>
  <tr>
    <th>comment</th>
    <td><%= @kanji.comment %></td>
  </tr>
  <tr>
    <% if @kanji.taken_at %>
    <th>taken at</th>
    <td><%= @kanji.taken_at.localtime.strftime("%Y/%m/%d %H:%M") %></td>
    <% end %>
  </tr>
</table>
</div>

<br>

<div>
<p>
  <strong>Kanjis' Information</strong>
</p>

<% @letters.each do |letter| %>
<h1>
  <strong><%= link_to "#{letter.letter}", letter_path(letter.id) %></strong>
</h1>
<div>

<table>
  <tr>
    <th>pronunciations</th>
    <% letter.pronunciations.each do |pronunciation| %>
    <td><%= pronunciation.en %></td>
    <% end %>
  </tr>
  <tr>
    <th></th>
    <% letter.pronunciations.each do |pronunciation| %>
    <td><%= pronunciation.ja %></td>
    <% end %>
  </tr>
</table>
<table>
  <tr>
    <th>meanings</th>
    <% letter.meanings.each do |meaning| %>
    <td><%= meaning.meaning %></td>
    <% end %>
  </tr>
</table>

<% end %>

</div>
</div>

<br>

<%= link_to 'Back', kanjis_path %>
