<p id="notice"><%= notice %></p>

<p>
  <strong>Your Photo's Information</strong>
</p>
<p>
<td><%= image_tag @kanji.image.url %></td>
<td><%= @kanji.comment %></td>
</p>

<%= link_to 'Edit', edit_kanji_path(@kanji) %> |
<%= link_to 'Back', kanjis_path %>
