<h1>
  <strong><%= @letter.letter %></strong>
</h1>
<div>

<table>
  <tr>
    <th>pronunciations</th>
    <% @letter.pronunciations.each do |pronunciation| %>
    <td><%= pronunciation.en %></td>
    <% end %>
  </tr>
  <tr>
    <th></th>
    <% @letter.pronunciations.each do |pronunciation| %>
    <td><%= pronunciation.ja %></td>
    <% end %>
  </tr>
</table>
<table>
  <tr>
    <th>meanings</th>
    <% @letter.meanings.each do |meaning| %>
    <td><%= meaning.meaning %></td>
    <% end %>
  </tr>
</table>
</div>

<br>

<% @kanjis.each do |kanji| %>
<table>
  <tr>
    <th>image</th>
    <td><%= image_tag kanji.image.url %></td>
  </tr>
  <tr>
    <th>word</th>
    <td><%= kanji.word %></td>
  </tr>
  <tr>
    <th>pronunciation</th>
    <td><%= kanji.pronunciation %></td>
  </tr>
  <tr>
    <th>meaning</th>
    <td><%= kanji.meaning %></td>
  </tr>
  <tr>
    <th>comment</th>
    <td><%= kanji.comment %></td>
  </tr>
</table>
<br>
<% end %>

<br>

<%= link_to 'Back', kanjis_path %>